<footer class="footer mt-auto bg-secondary bg-gradient border-top border-dark border-2 py-1 fixed-bottom">
    <p class="navbar-brand" style = "padding-left: 3%;">Autor: Daniel Fernández Mérida </p>
</footer>