<!DOCTYPE html>
<html>
    <head>
        <title>Experimento</title>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <%- include('../partials/header'); %>

        <main class="ps-2 pt-2">
            <h3>Va a realizar el experimento, para comenzarlo, haga clic en el botón o pulse [ESPACIO]</h3>
            <ul>
                <li>Situése comodamente delante de la pantalla con el dedo índice izquierdo reposando sobre la tecla <strong>Q</strong> y el dedo índice derecho sobre la tecla <strong>P</strong></li>
                <li>Observe las letras que aparecen en la pantalla</li>
                <li>Cuando sienta el impulso (no tenga prisa) pulse una de las teclas, la de la izquierda o la de la derecha. Preste atención a la letra que aparecía en pantalla al sentir el impulso</li>
                <li>Tras pulsar una de las teclas, aparecerán 3 letras y un # en la pantalla. Seleccione la letra que apareció cuando sintió el impulso. Si no es ninguna de las 3 que aparecen, seleccion #</li>
            </ul>

            <div class="justify-content-center d-flex mt-5 h-100">
                <div id="exp-wrapper" class="d-flex aligns-items-center justify-content-center">
                    <button type="button" id="btn-comenzar-experimento" class="btn btn-dark btn-lg item-centrado">Comenzar experimento</button>
                </div>
            </div>
        </main>

        <%- include('../partials/footer'); %>
    </body>
</html>