<!DOCTYPE html>
<html>
    <head>
        <title>Experimento</title>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <%- include('../partials/header'); %>

        <main class="ps-2 pt-2">
            <h3>Va a realizar el experimento, para comenzarlo, haga clic en el botón o pulse [ESPACIO]</h3>
            <ul>
                <li>Situése comodamente delante de la pantalla con el dedo índice izquierdo reposando sobre la tecla <strong>Q</strong> y el dedo índice derecho sobre la tecla <strong>P</strong></li>
                <li>Comenzará observando una pantalla en blanco. Relajese durante esos 8 segundos.</li>
                <li>Observe las letras que aparecen en la pantalla</li>
                <li>Cuando sienta el impulso (no tenga prisa) pulse una de las teclas, la de la izquierda o la de la derecha. Preste atención a la letra que aparecía en pantalla al sentir el impulso</li>
                <li>Tras pulsar una de las teclas, aparecerán 3 letras y un # en la pantalla. Seleccione la letra que apareció cuando sintió el impulso. Si no es ninguna de las 3 que aparecen, seleccion #</li>
            </ul>

            <div class="justify-content-center d-flex mt-5 h-100">
                <div id="exp-wrapper" class="d-flex aligns-items-center justify-content-center">
                    <button type="button" id="btn-comenzar-experimento" class="btn btn-dark btn-lg item-centrado">Comenzar experimento</button>
                    <img src="" id="letra-experimento" class="border border-dark border-2 d-none w-100 d-none" alt="Letra"/>
                    <div id="wrapper-4-imagenes" class="d-flex d-none">
                        <div class="wrapper-2-imagenes">
                            <a href="" class="enlace-imagen"><img src="" id="conjunto-letra-1" class="imagen-conjunto border border-dark border-2 w-100" onclick="registra_tiempo_respuesta(0)" alt="Letra"/></a>
                            <a href="" class="enlace-imagen"><img src="" id="conjunto-letra-2" class="imagen-conjunto border border-dark border-2 w-100" onclick="registra_tiempo_respuesta(1)" alt="Letra"/></a>

                        </div>
                        <div class="wrapper-2-imagenes">
                            <a href="" class="enlace-imagen"><img src="" id="conjunto-letra-3" class="imagen-conjunto border border-dark border-2 w-100" onclick="registra_tiempo_respuesta(2)" alt="Letra"/></a>
                            <a href="" class="enlace-imagen"><img src="" id="conjunto-letra-4" class="imagen-conjunto border border-dark border-2 w-100" onclick="registra_tiempo_respuesta(3)" alt="Letra"/></a>
                        </div>
                    </div>
                    <img src="images/imagen-blanca.png" id="blank-image" class="border border-dark border-2 w-100 d-none" alt="Imagen blanca"/>
                </div>
            </div>
        </main>

        <%- include('../partials/footer'); %>
    </body>
</html>