<!DOCTYPE html>
<html>
    <%- include('../partials/head'); %>

    <body>
        <%- include('../partials/header'); %>

        <h1>Bienvenido/a</h1>

        <%- include('../partials/footer'); %>
    </body>
</html>