#exp-wrapper {
    width:30%;
    background-color:lightgray
}

.item-centrado {
    margin-top: 40%;
    margin-bottom: 40%;
}


#imagen-ugr {
    width: 10%;
}

#nav-header {
    font-size: 1.2em;
}