#exp-wrapper {
    width:40%;
    background-color:lightgray
}

.item-centrado {
    margin-top: 45%;
    margin-bottom: 45%;
}

main {
    margin-bottom: 10%;
}


#imagen-ugr {
    width: 10%;
}

#nav-header {
    font-size: 1.2em;
}